:root {
    --text-secondary: #9d9c9c;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
    width: 0;
}
.container{
    display: flex;
}
.col{
    height: 105vh;
}
.left{
    width: 30rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.center{
    width: 100%;
    background-color: #fafafa;
    overflow-y: scroll;
}
.right{
    width: 30rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.nav{
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #fefefe;
    padding: 10px;
    position: sticky;
}
.nav-main{
    display: flex;
}
.noti{
    transition: 0.5s;
}
.noti:hover{
    transform: scale(1.08);
    background-color: crimson;
    color: white;
}
.logo{
    width: 30rem;
}
.ins-fonts{
    font-family: 'Cookie', cursive;
    font-size: 30px;
}
.search{
    width: 100%;
}
.menu{
    width: 30rem;
}
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-start{
    justify-content: start;
}
.justify-content-space-around{
    justify-content: space-around;
}
.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-space-evenly{
    justify-content: space-evenly;
}
.align-item-center{
    align-items: center;
}
/* .flex-direction */
.flex-direction-column{
    flex-direction: column;
}
.flex-grow-1{
    flex-grow: 1;
}

.text-secondary{
    color: var(--text-secondary);
}

.search-box{
    width: 450px;
    border: 1px solid #e9e4e4;
    padding: 10px;
    border-radius: 31px;
}
.search-box input{
    width: 100%;
    border: none;
    padding-left: 20px;
    background-color: transparent;
}
.search-btn{
    padding: 10px 20px;
    border-radius: 200px;
    border: none;
    background-color: #fe4f41;
    color: #fff;
    transition: 0.3s;
}
.search-btn:hover{
    transform: scale(1.1);
}
.menu-icon{
    padding: 10px;
    border: 1px solid;
    border-radius: 50px;
}
.w-100{
    width: 100%;
}

.text-center{
    text-align: center;
}
/* left */
.left-img{
    width: 40%;
    border: 4px solid transparent;
    border-radius: 50%;
    background: linear-gradient(45deg, #f8d71d, #fd1d1d, #833ab4);
    border-image-slice: 1;
    background-origin: border-box;
}

/* story circle */
.bg-color{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 4px solid transparent;
    background-image: linear-gradient(white, white), linear-gradient(90deg, #fcb045, #fd1d1d, #833ab4);
    border-image-slice: 1;
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.story-img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 4px solid transparent;
    background: linear-gradient(90deg, #fcb045, #fd1d1d, #833ab4);
    border-image-slice: 1;
    background-origin: border-box;
}

.btn{
    border: none;
    padding: 10px;
}

.bg-white{
    background-color: #fff;
}

.bg-transparent{
    background-color: #fff;
    font-weight: bold;
}

.rounded-poll{
    border-radius: 200px;
}

/* post-img */
.post-card{
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.post-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.post-card-img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-top: 20px;
    object-fit: cover;
}

.post-comment-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-comment-box{
    border: 1px solid #e9e4e4;
    border-radius: 200px;
    width: 100%;
}
.post-comment-box input{
    border: none;
    background-color: transparent;

}
.post-comment-box input:focus{
    outline: none;
}

.treading-feeds{
    column-count: 2;
    column-gap: 10px;
}
.tf-img{
    border-radius: 10px;
    margin-bottom: 8px;
}

.left-menu{
    list-style: none;
}
.menu-list-item{
    padding-left: 35px;
    border-left: 5px solid #fff; /*#fe446c*/
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu-list-item.active{
    border-color: #fe446c;
    color: #fe446c;
}
.fw-bold{
    font-weight: 900;
}





.me-1{
    padding-right: 10px;
}
.me-2{
    margin-right: 20px;
}
.mt-3{
    margin-top: 30px;
}
.mt-1{
    margin-top: 10px;
}
.mb-2{
    margin-bottom: 20px;
}
.mb-3{
    margin-bottom: 35px;
}
.mb-12{
    margin-bottom: 15px;
}
.mb-1{
    margin-bottom: 10px;
}
.ms-1{
    padding-left: 10px;
}
.ms-2{
    padding-left: 20px;
}
.mt-2{
    margin-top: 20px;
}
.px-2{
    padding-left: 20px;
    padding-right: 20px;
    
}
.p-1{
    padding: 10px;
}
.p-2{
    padding: 20px;
}
.px-6 {
    padding-left: 60px;
    padding-right: 60px;
}

.px-7 {
    padding-left: 70px;
    padding-right: 70px;
}
.px-9{
    padding-left: 90px;
    padding-right: 90px;
}


/* hover_color */
.color{
    transition: 1s;
}
.color:hover{
    transform: scale(1.5);
    color: red;
}
.color1{
    transition: 1s;
}
.color1:hover{
    transform: scale(1.5);
    color: cyan;
}
.color2{
    transition: 1s;
}
.color2:hover{
    transform: scale(1.5);
    color: rgb(6, 211, 84);
}
.color3{
    transition: 1s;
}
.color3:hover{
    transform: scale(1.5);
    color: rgb(218, 218, 26);
}
